---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---

{{assignVar "isModel" 0}}
{{#each product.custom_fields}}
  {{#if name '===' "instructions"}}
    {{assignVar 'isModel' 1}}
  {{/if}}
{{/each}}
{{log '%%%%%%%%%%%%%%%%%%%%%%%%%% isModel' (getVar "isModel") }}

{{inject 'productId' product.id}}

{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div>
        {{#if (getVar "isModel")}}
          {{> components/models/model-view}}
        {{else}}
          {{> components/products/product-view}}

          {{{region name="product_below_content"}}}

          {{#if product.videos.list.length}}
              {{> components/products/videos product.videos}}
          {{/if}}
  
          {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
              {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
          {{/all}}
  
          {{> components/products/tabs}}
        {{/if}}
      
    </div>

    {{> components/products/schema}}
{{/partial}}
{{> layout/base}}
