{{!--
  Variant of components/category/sort-box for Model categories.
--}}

<fieldset class="form-fieldset actionBar-section">
    <div class="form-field">
        <label class="form-label" for="sort">{{lang 'common.sorter.sort_by'}}</label>
        <select class="form-select form-select--small " name="sort" id="sort" role="listbox">
            <option value="featured" {{#if sort '==' 'featured'}}selected{{/if}}>{{lang 'common.sorter.featured'}}</option>
            <option value="newest" {{#if sort '==' 'newest'}}selected{{/if}}>{{lang 'common.sorter.newest'}}</option>
            <option value="alphaasc" {{#if sort '==' 'alphaasc'}}selected{{/if}}>{{lang 'common.sorter.alpha_asc'}}</option>
            <option value="alphadesc" {{#if sort '==' 'alphadesc'}}selected{{/if}}>{{lang 'common.sorter.alpha_desc'}}</option>
            {{#if result_count}}
                <option value="relevance" {{#if sort '==' 'relevance'}}selected{{/if}}>{{lang 'common.sorter.relevance'}}</option>
            {{/if}}
        </select>
    </div>
</fieldset>
